.fade-enter {
  max-height: 0;
  opacity: 0;
}

.fade-enter-active {
  max-height: 100px;
  opacity: 1;
  transition: all 100ms ease-in;
}
.fade-exit {
  max-height: 100px;
  opacity: 1;
}
.fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: all 100ms ease-in;
}
