@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$material-icons-font-path: '~material-icons/iconfont/';
@import 'node_modules/material-icons/iconfont/material-icons.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    /*display: none;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #D4D4D9;
}

